#map {

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border: double black;
    height: 70%;
    width: 70%;

}



#box{
    display: flex;
    justify-content: center;
}

img{
    height: 50%;
    width: 50%;
}

#case {
    border: solid black;
    margin-bottom: 5%;
    text-align: center;
}



h1,h2,h3{
    text-align: center;
}

#list{
    width: 25%;
    margin-left: 5%;
    text-align: justify;

}

#tableList{
    height: 70%;
    overflow: auto;
}

#littleStar{
    height: 10%;
    width: 10%;
}

#boxRatings{
    height: 200px;
    overflow: auto;

}